In [ ]:
print('Hello World')

In [ ]:
# this is an example of single line comment
print('Hello World')

In [ ]:
''' 
This is an 
example of multi line comment 
'''

print('Hello World')

In [ ]:
"""
This is an 
example of multi line comment 
"""

print('Hello World')

In [ ]:
age = 25

In [ ]:
age

In [ ]:
a = [25,55]
type(a)

In [ ]:
b = 10
if(b%2==0):
    print("It's an even number")
    if(true):
         print()
    print("hello")
else:
    print("It's an odd number")

In [ ]:
b = 10

if(b%2==0):
    print("It's an even number")
    print("hello")
else:
    print("It's an odd number")

a = 155

In [ ]:
age = 25
print(age)

In [ ]:
HTTP_STATUS_CODE_200 = 200
print(HTTP_STATUS_CODE_200)

In [ ]:
200ramesh = "ramesh"
print(200_ramesh)

In [ ]:
Van_Rossum = "Guido van Rossom"

Prime_Minister
PRIME_MINISTER
ABC = "Australian Broadcasting Corporation"

abc = "Australian Broadcasting Corporation"

In [ ]:
a = 10
A = 56
print(A)

In [ ]:
~`!@#$%^&*

In [ ]:
print("the cost of the product = %s", %(25))

In [ ]:
age@ = 24

In [ ]:
a = 10
b = 2
print(a/b)
print(c)

In [ ]:
a = 10
b = 0
print(a/b)
print("test")

In [ ]:
a = 10
print(id(a))
a = 20
print(id(a))

In [ ]:
a = "ramesh"
print(id(a))
a = "dan"
print(id(a))

In [ ]:
b = [1,2]
type(b)
b.append(3)
print(b)
type(b)

In [ ]:
b = {'a', 'b', 'c'}
id(b)

In [ ]:
a = {'a','b'}
type(a)

In [ ]:
def m1():
    pass

In [ ]:
a = '10'
b = '20'
print(type(a))
print(type(b))
print(a+b)

In [ ]:
a = 10
b = 10
print(id(a))
print(id(b))
a = 15
print(id(a))
print(id(b))

In [ ]:
a = 10
print(a)
print('The value of a = ', a)

In [ ]:
a = 10
b = 20
print(a,b)
# print('The value of a = ' , a , ' and value of b = ' , b)
# print('The value of a = {} and value of b = {}'.format(a, b))
# print('The value of a = {a} and value of b = {b}'.format(a=10, b=5))
print('The value of a = {a} and value of b = {b}'.format(b=5, a=10))

In [ ]:
print('Enter the value of a\n')
a = input()
print('The value of a entered is ' , a)

In [ ]:
print('Hello')
# print ('Hello')
# print("Hello")
# print ("Hello")
print    ("Hello")

In [ ]:
print('Hello')
print('World')

In [ ]:
print('Hello World')

In [ ]:
print('Hello', end=" ")
print('World')

In [ ]:
print('Hello')
print('\nWorld')

In [ ]:
id = 10.99
name = 'Dan'

# print("Welcome to the class Mr/Miss % s" %name)
# print("The value of a = % d" %id)

# print('Welcome "% s", your reg number is % d' %(name, id))
print(f'Welcome %s, your reg number is %.2f' %(name, id))
# print('Welcome {} , your reg number is {} '.format(name, id))
print('The value of a = {x} and value of b = {y}'.format(y=5, x=10))

In [ ]:
print("Enter the value of a - ")
a = int(input())
print("Enter the value of b - ")
b = int(input())
# result = int(a) + int(b) 
print("Sum of the two numbers is {}".format(a+b))

In [ ]:
a = [1, 2, 3]
print(id(a))

In [ ]:
b = [1,2,3]
print(b)
type(b)
print(id(b))
b.append(5)
print(b)
print(id(b))

In [ ]:
a = 10
# print(type(a))

b = 44.5
# print(type(b))

c = 10 + 8j
# print(type(c))

# print(a, b, c)

# print(a, end=", ")
# print(b, end=", ")
# print(c)

print("{}, {}, {}".format(a,b,c))

In [ ]:
2+2

In [ ]:
print(4+4)

In [ ]:
a = 10
b = 25.3
name = "michelle"

print(type(a))
print(type(b))
print(type(name))

In [ ]:
# print(isinstance(a,int))
# print(isinstance(b,float))
print(isinstance(name,int))

In [ ]:
a = 10
b = 20
print(a,b)

In [ ]:
a, b = 10,30
print(a, b)

In [ ]:
a, b, c, d, e = 10, 25.36, 'dan',(1,2,3), ['x','y','z']
print(a)
print(b)
print(c)
print(d)
print(e)

In [ ]:
x = (1,2,3,'ramesh')
print(x)

In [ ]:
x[3]

In [ ]:
a = 5
b = 10
print('a = {}, b = {}'.format(a,b) )

c = a
a = b
b = c
print('a = {}, b = {}'.format(a,b) )

In [ ]:
a = 5
b = 10
print('a = {}, b = {}'.format(a,b) )

a = a - b
b = a + b
a = b - a
print('a = {}, b = {}'.format(a,b) )

In [ ]:
a = 5
b = 10
print('a = {}, b = {}'.format(a,b) )

a = a + b
b = a - b
a = a - b
print('a = {}, b = {}'.format(a,b) )

In [ ]:
a = 5
b = 10
print('a = {}, b = {}'.format(a,b) )

a, b = b, a
print('a = {}, b = {}'.format(a,b) )

In [ ]:
a = 'this is a string "Hello"'
b = 'dan'
c = "this is a string value with double quotes your's"
d = '''this is with 2 single quotes'''
e = """this is an example or 3 double quotes"""

print(type(e))

print(a)
print(c)

In [ ]:
a = 'aaaaaaaaaaaaaaaaa' \
     'bbbbbbbbbbbbbbbbbbbbbbbddddddddddddddddddddddddddddddd' \
     'eeeeuuuuuuuuuuuuuuuuuuuuuuuuuuuueeeeeeeeeeeeeeeeffffffffffffffzzzzzzzzzzzzzzzzzzzzzzzzz'
print(a)

In [ ]:
a = '''aaaaaaaaaaaaaaaaa
bbbbbbbbbbbbbbbbbbbbbbbddddddddddddddddddddddddddddddd
eeeeuuuuuuuuuuuuuuuuuuuuuuuuuuuueeeeeeeeeeeeeeeeffffffffffffffzzzzzzzzzzzzzzzzzzzzzzzzz'''
print(a)

In [ ]:
a = '''
{
 "cells": [],
 "metadata": {},
 "nbformat": 4,
 "nbformat_minor": 5
}
'''
print(a)

In [ ]:
a = (1,2,3,'edureka')
b = [1,2,3,'edureka']
c = {1,2,3,'edureka'}
d = {'fn':'John', 'ln':'Rambo'}
print("a = ",a)
print("b = ",b)
print("c = ",c)
print("d = ",d)

print(type(a))
print(type(b))
print(type(c))
print(type(d))

a =  (1, 2, 3, 'edureka')
b =  [1, 2, 3, 'edureka']
c =  {1, 2, 3, 'edureka'}
d =  {'fn': 'John', 'ln': 'Rambo'}
<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'dict'>